Repository giotramu/css-kit: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, eslint, stylelint, prettier

typecheck:
  run: npm run typecheck

eslint:
  run: npm run lint:src -- --fix

stylelint:
  run: npm run lint:css -- --fix

prettier:
  run: npx --no-install prettier {staged_files} --write --ignore-unknown && git add {staged_files}

Replace rimraf with del-cli
  package-lock.json
  package.json
  types/color-scheme-switcher.d.ts
  types/css-kit.d.ts
  www/css-kit.css
Due: typecheck, eslint, stylelint, prettier

Fix prettier vscode extension name
  .vscode/extensions.json
  tsconfig.json
Due: prettier

Simplify selectors in src/styles/utils/normalizer.css
  src/styles/utils/normalizer.css
Due: stylelint, prettier

Release v2.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

Path conditions:
  typecheck: any of: *.ts
  eslint: any of: *.{js,ts}
  stylelint: any of: *.{css,scss}
  prettier: any of: *
